/**
  상단 로고 스타일
*/
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 30px;
}

.logo-container > img {
  width: 50%;
}

.logo-captions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-caption.caption-main {
  font-weight: 700;
  font-size: 32px;
}

.logo-caption.caption-sub {
  font-size: 20px;
  text-align: center;
}

/*
  하단 로그인 스타일
*/
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin-bottom: 50px;
}

.button-container .login-buttons {
  display: flex;
  gap: 16px;

  font-weight: 400;
  font-size: 20px;

  & > span:last-child {
    color: var(--color-carrot);
  }
}
