@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 300;
  src: url("./NanumSquareNeoTTF-aLt.woff") format("woff"),
    url("./NanumSquareNeo-aLt.ttf") format("truetype"),
    url("./NanumSquareNeoOTF-Lt.otf") format("opentype"),
    url("./NanumSquareNeoTTF-aLt.eot") format("embedded-opentype");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 400;
  src: url("./NanumSquareNeoTTF-bRg.woff") format("woff"),
    url("./NanumSquareNeo-bRg.ttf") format("truetype"),
    url("./NanumSquareNeoOTF-Rg.otf") format("opentype"),
    url("./NanumSquareNeoTTF_bRg.eot") format("embedded-opentype");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 700;
  src: url("./NanumSquareNeoTTF-cBd.woff") format("woff"),
    url("./NanumSquareNeo-cBd.ttf") format("truetype"),
    url("./NanumSquareNeoOTF-Bd.otf") format("opentype"),
    url("./NanumSquareNeoTTF-cBd.eot") format("embedded-opentype");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 800;
  src: url("./NanumSquareNeoTTF-dEb.woff") format("woff"),
    url("./NanumSquareNeo-dEb.ttf") format("truetype"),
    url("./NanumSquareNeoOTF-Eb.otf") format("opentype"),
    url("./NanumSquareNeoTTF-eEb.eot") format("embedded-opentype");
}

@font-face {
  font-family: "NanumSquareNeo";
  font-style: normal;
  font-weight: 900;
  src: url("./NanumSquareNeoTTF-eHv.woff") format("woff"),
    url("./NanumSquareNeo-eHv.ttf") format("truetype"),
    url("./NanumSquareNeoOTF-Hv.otf") format("opentype"),
    url("./NanumSquareNeoTTF-eHv.eot") format("embedded-opentype");
}
